{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<br>
<br>
<br>
<br>
<br>
	<a href="{% url 'blog:blog_create' %}">Create Blog</a>
    <h1>Bu mening bloglarim. Ularning soni {{blogs_count}} ta</h1>

    {% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}">
        <h2>{{blog.title}}</h2>
    </a>
    <h5>{{blog.date }}</h5>
    <p>{{blog.description |safe |truncatechars:100}}</p>
    <h3>{{blog.author}}</h3>
    <hr>
  {% endfor %}
  {% if blogs.has_previous %}
    <a href="{% url 'blog:all_blogs' %}?page={{blogs.previous_page_number }}">Orqaga</a>
  {% endif %}

  {% for i in blogs.paginator.page_range %}
    <a href="?page={{i}}">{{i}}</a>
  {% endfor %}

  {% if blogs.has_next %}
    <a href="{% url 'blog:all_blogs' %}?page={{blogs.next_page_number }}">Oldinga</a>
  {% endif %}


</div>
{% endblock %}