{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<h1>Blog Update</h1>
<hr>
<form action="" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button type="submit">Submit</button>
</form>

{% endblock %}