{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<h1>Blog Create</h1>
<hr>
<form action="{% url 'blog:blog_create' %}" method="POST">
	{% csrf_token %}
	{{forms.as_p}}
	<button type="submit">Submit</button>
</form>

{% endblock %}