{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<h1>Blog Delete</h1>
<hr>
<p>Siz Blogni delete qilmoqchimisiz </p>
<a href="{% url 'blog:all_blogs' %}">Orqaga qaytish</a>
<form action="" method="POST">
	{% csrf_token %}
	
	<button type="submit">Delete</button>
</form>

{% endblock %}