{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<div class="container">
 <br>
 <br>
 <br>
 <br>

    <h1>{{blog.title}}</h1>
    <h2>{{blog.date}}</h2>
    <p>{{blog.description}}</p>
    <h2>{{blog.author}}</h2>
    {% if author %}
    <a href="{% url 'blog:blog_update' blog.id %}">Update</a>
    <a href="{% url 'blog:blog_delete' blog.id %}">Delete</a>
    {% endif %}
</div>

{% endblock %}