{% extends 'myportfolio/base.html' %}
{% load static %}

{% block title %} Login  {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>Login page</h1>
    <hr>  
    <form method="POST" class="from-group">
	{% csrf_token %}
	{{form.as_p}}
	<p>Don't have an accoount? Create one <a href="/blog/register">Register</a></p>
	<button type="submit" class="btn btn-success">Login</button>	
    </form>
</div>
{% endblock %}