{% extends 'myportfolio/base.html' %}
{% load static %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>
        Register page
    </h1>
    <hr>
        
            <form class="form-group" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.first_name.label }}
					{{ form.first_name}}
                </div>

                <div class="form-group">
                    {{ form.last_name.label }}
					{{ form.last_name}}
                </div>

                <div class="form-group">
                    {{ form.username.label }}
					{{ form.username}}
                </div>

                <div class="form-group">
					{{ form.email.label }}
					{{ form.email}}
                </div>

                <div class="form-group">
                    {{ form.password1.label }}
					{{ form.password1}}
                </div>

                <div class="form-group">
                    {{ form.password2.label }}
					{{ form.password2}}
                </div>
                {{form.error}}
                <div>
                	<p>This is Login <a href="/blog/login">login</a></p>
                </div>
                 <div class="form-group">
                    <button class="btn btn-success" type="submit">
                        Register
                    </button>
                </div>
		
                    
                </br>
            </form>
        </hr>
    </hr>
</div>
{% endblock %}
