{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<br>
<br>
<br>
<br>
<br>
<h1>Foydalanuvchilar ruyxati</h1>
	<form action="{% url 'blog:user_list' %}" method="GET">
       <input type="text" name="user">
        <button type="submit">Izlash</button>
    </form>
   <table border="1" width="100%">
    <thead>
        <tr>
            <th>Foydalanuvchi</th>
            <th>So'ngi tashrif</th>
            <th>A'zo bulganligi</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
       <tr>
           <td> {{user.username}}</td>
           <td> {{user.last_login}}</td>
           <td> {{user.date_joined}}</td>
       </tr>
       
        {% endfor %}
    </tbody>
       
   </table>
<br>
<br>
    
</div>
{% endblock %}