{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
                {% block title %} {% endblock %}
                <link href="{% static 'myportfolio/css/main.css' %}" rel="stylesheet">
                    <link href="{% static 'myportfolio/css/bootstrap.min.css' %}" rel="stylesheet">
                    </link>
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase fixed-top">
            <div class="container">
                <a class="navbar-brand font-weight-bold" href="#">
                    Projects
                </a>
                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link " href="{% url 'home' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link " href="{% url 'blog:user_list' %}">
                                Foydalanuvchilar
                            </a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" href="{% url 'blog:all_blogs' %}">
                                Blog
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                {{request.user}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:logout' %}">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'blog:login' %}">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:register' %}">
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
        <footer class="bg-dark text-white text-center">
            <div class="container">
                <div class="row py-lg-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">
                            Location
                        </h4>
                        <p class="lead mb-0">
                            2215 John Daniel Drive
                            <br/>
                            Clark, MO 65243
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">
                            Around the Web
                        </h4>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">
                            About Freelancer
                        </h4>
                        <p class="lead mb-0">
                            Freelance is a free to use, MIT licensed Bootstrap theme created by
                            <br>
                                <a href="http://startbootstrap.com">
                                    Start Bootstrap
                                </a>
                            </br>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white bg-secondary">
            <div class="container">
                <small>
                    Copyright © Your Website 2020
                </small>
            </div>
        </div>
        <script src="{% static 'myportfolio/js/jquery.slim.min.js' %}">
        </script>
        <script src="{% static 'myportfolio/js/popover.js' %}">
        </script>
        <script src="{% static 'myportfolio/js/bootstrap.min.js' %}">
        </script>
    </body>
</html>