{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Bu mening birinchi dasturim</h1>
  <div class="myImage">
    <img src="{% static 'myportfolio/images/bobur.jpg' %}" alt="">
  </div>
  <h1>Portfolio</h1>
  <hr>
  <div class="row">

    {% for project in projects %}
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="{{project.image.url}}" alt="">
        <div class="card-body">
          <h2 class="card-title">{{project.title}}</h2>
          <p class="card-text">{{project.description}}</p>
          <br>
          {% if project.url %}
          <a class="btn btn-primary" href="{{project.url}}">Ishni kurish</a>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .myImage {
    display: block;
    margin: 5px auto;
    text-align: center;

  }
</style>

<br>
<br>
<br>

{% endblock %}